:root{
    --container-border-radius: 0.5rem;

}

body, html{
    height: 100%;
    background-color: #3c3842;
}

#home__banner{
    min-height: 25rem;
    width: 100%;
}

.navigation{
    height: auto;
    width: 50%;
}
